1. funcion lambda
2. funcion ZIP
3. funcion map

In [1]:
sumar = lambda a,b : a+b
print(sumar(2,3))

5

In [2]:
cuadrado = lambda a:a**2
print(cuadrado(20))

400

In [4]:
#Verifica si es par
es_par = lambda a: a % 2 ==0
print(es_par(8))     #Imprime True si es par

True

In [6]:
#Concatenar dos cadenas
une_cadena = lambda cadA, cadB : cadA + " " + cadB
print(une_cadena("Hola", "Mundo"))

Hola Mundo

In [7]:
# Obtener mayor
get_mayor = lambda a,b : a if a > b else b
print(get_mayor(45,89))

89

# Función Zip
La función zip en python se usa para combinar multiples iterables (listas, tuplas, diccionarios) en un solo iterable, que consiste en tuplas. Cada tupla contiene elementos correspondiente de los iterables proporcionados.

## Sintaxis
Zip(iter1, iter2)

# Empaquetado con zip()

In [11]:
nombres = ["Ana", "Juan", "Luisa"]
edades = [25,30,22]
combinados = zip(nombres, edades)
print(list(combinados))

[('Ana', 25), ('Juan', 30), ('Luisa', 22)]

In [13]:
#Procesando multiples iterables
nombres = ["Ana", "Juan", "Luisa"]
edades = [25,30,22]
ciudades=["Bogotá", "Medellin", "Caracas", "Bucaramanga"]
combinados=zip(nombres, edades, ciudades)
print(list(combinados))

[('Ana', 25, 'Bogotá'), ('Juan', 30, 'Medellin'), ('Luisa', 22, 'Caracas')]

# Desempaquetado con zip()

Podemos desempaquetar información en variables usando el operador *

Si tenemos la lista de tuplas 
[('Ana', 25, 'Bogotá'), ('Juan', 30, 'Medellin'), ('Luisa', 22, 'Caracas')]

In [15]:
combinados = [('Ana', 25, 'Bogotá'), ('Juan', 30, 'Medellin'), ('Luisa', 22, 'Caracas')]

nombres, edades, ciudades = zip(*combinados)
print(nombres, edades, ciudades)

('Ana', 'Juan', 'Luisa') (25, 30, 22) ('Bogotá', 'Medellin', 'Caracas')

# Iterar sobre el resultado de zip
Como zip retorna un iterador podemos iterar sobre el resultado usando un bucle

In [27]:
# del paso anterior tenemos unos datos que son una lista de tuplas y podemos iterar
nombres = ["Ana", "Juan", "Luisa"]
edades = [25,30,22]
ciudades=["Bogotá", "Medellin", "Caracas", "Bucaramanga"]
combinado = zip(nombres, edades, ciudades)

print(name1, name2, name3)
for nombre, edad, ciudad in combinado:
    print(f"Nombre: {nombre} Edad: {edad}, Ciudad: {ciudad}")

Ana Juan Luisa
Nombre: Ana Edad: 25, Ciudad: Bogotá
Nombre: Juan Edad: 30, Ciudad: Medellin
Nombre: Luisa Edad: 22, Ciudad: Caracas

# Iteracion paralela con zip

In [39]:
nombres = ["Ana", "Juan", "Luisa", "Carmen"]
edades = [25,30,22]
paquete = zip(nombres, edades)
for nombre, edad, in zip(nombres, edades):
    print(nombre, edad)

Ana 25
Juan 30
Luisa 22

# Uso practico del zip

In [48]:

a = [1,2,3]
b = [4,5,6]
k = [9,3,4]
suma =[(x+y)*z for x,y,z in zip(a,b,k)]
print(suma)

[45, 21, 36]

# Uso de map
Se usa para aplicar una función a un iterable

In [50]:
#Sea un iterable al que se le quiere calcular la raiz cuadrada
def raiz_2(numeros):
    return numeros**0.5

lista = [4,16,25,144]
print(list(map(raiz_2, lista)))

[2.0, 4.0, 5.0, 12.0]

In [54]:
#Elevar al cubo usando map y lambda
lista = [2,3,4,5]
resul = list(map(lambda x: x**3, lista))
print(resul)

[8, 27, 64, 125]

In [57]:
#Uso de map con multiples iterables
lista1 = [1,2,3,4,5]
lista2 =[4,5,6,7,8]

resultado = list(map(lambda x,y: y-x, lista1, lista2))
print(resultado)

[3, 3, 3, 3, 3]

In [58]:
#Convertir tipos con map
cadena_num = ["1","22","31","13"]
resultado = list(map(lambda x:int(x), cadena_num))
print(resultado)

[1, 22, 31, 13]

In [61]:
#Concatenar textos
texto1 = ["Hola", "Pedro", "Patria"]
texto2 = ["Mundo bonito", "Argumedo", "Linda"]

resultado = list(map(lambda  text1, text2: text1 + " " + text2, texto1, texto2))
print(resultado)

['Hola Mundo bonito', 'Pedro Argumedo', 'Patria Linda']

# Uso de map con objetos personalizados

In [69]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
           
    def incrementar_edad(self):
        self.edad +=1
        self.conver_mayus()
        
    def conver_mayus(self):
        self.nombre = (self.nombre).upper()
   
        
personas = [Persona("Omar", 64), Persona("Arturo", 30)]  
list(map(lambda p: p.incrementar_edad(), personas))
for p in personas:
    print(f"{p.nombre} {p.edad}")

OMAR 65
ARTURO 31